body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow-x: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}



/* NAVBAR */
nav {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: #444 2px solid;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  position: relative;
}

.menu li a {
  text-decoration: none;
  color: white;
  padding: 0px 15px;
  display: block;
}

.menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 150px;
}

.menu .dropdown-content a {
  color: black;
  padding: 10px;
  display: block;
}

.menu li:hover .dropdown-content {
  display: block;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 2rem;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  display: flex;
}





.redes {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 10px 20px;
  border-radius: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2000;
  gap: 16px; /* Espacio entre iconos */
}

.redes a {
  color: #e0e0e0;
  font-size: 2rem;
  margin: 10px 0;
  transition: color 0.2s;
  text-decoration: none;
}

.redes a:hover {
  color: #f8f8f8; /* Cambia el color al pasar el mouse */
}


























/* --- RESPONSIVE --- */

/* Responsive: 2 columnas en tablet y 2 columnas en móvil */



@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5px 0 5px;
  }
  .logo {
    font-size: 1.1rem;
  }
  .menu {
    flex-direction: column;
    width: 100%;
    background-color: #E60012;
  }
  .menu li a {
    padding: 10px;
    font-size: 1em;
  }
  .subtitle {
    font-size: 1em;
    margin-bottom: 15px;
  }
}

/* Menú hamburguesa para móvil */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .menu {
    flex-direction: column;
    display: none;
    width: 100%;
    background-color: #3b3b3b;
  }
  .menu-divider {
    width: 100%;
    height: 2px;
    margin: 10px 0;
    background: #444;
    display: block;
  }
  .menu li {
    width: 100%;
  }
  .menu li a {
    text-align: center;
    padding: 15px;
  }
  #menu-toggle:checked + .menu {
    display: flex;
  }
  .menu-icon {
    display: block;
  }
}



